<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ct.fitorto" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SlidingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>

        </activity>
        <activity android:name=".activity.HomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MembershipActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.SearchResultActivity"
            android:theme="@style/AppTheme.NoActionBar"

            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.CityActivity"
            android:theme="@style/AppTheme.NoActionBar"

            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.ShareActivity"
            android:theme="@style/AppTheme.NoActionBar"

            android:screenOrientation="portrait"
            />



        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>


</manifest>
